.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.about-header {
  background-color: green;
  height: 50px;
  padding: 20px;
  color: white;
}

.left-side-nav {
  position: absolute;
  left: 0;
  top: 92px;
  bottom: 0;
  width: 178px;
}

.link {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  min-width: 50px;
}

.product-header {
  background-color: grey;
  height: 50px;
  padding: 20px;
  color: rgb(2, 1, 1);
}

.page {
  position: absolute;
  left: 178px;
  top: 92px;
  right: 0;
  bottom: 0;
}

.hello {
  text-align: center;
  margin: 20px;
  color: red;
  font-size: 48px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hello button {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 40px;
  min-width: 50px;
}
